.sidebar {
  position: fixed;
  font-family: Inter;
  width: 100%;
  height: 100vh;
  // padding: 0 12px;
  background-color: #fff;
  border-right: 1px solid #e5e9eb;
  transition: width 0.3s ease;

  &.open {
    width: 280px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: center;
    margin-left: 15px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #0e73fc;
    color: white;
    font-weight: 600;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 60px;
    margin-bottom: 10px;
  }
  .titleWrapper {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #e5e9eb;
    width: 100%;
  }
  .toggleButton {
    position: absolute;
    left: 70px;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;

    button {
      font-size: 22px;
      color: #7384a2;
      transition: 0.5s;
    }

    .chevronR {
      margin-left: 180px;
    }
  }

  .logo {
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    color: #403ef5;
  }

  .navbar {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navList {
    list-style-type: none;
    // background-color: red;
    border-right: 1px solid #e5e9eb;
    height: 100vh;
    width: 88px;
    padding-left: 0;
    padding: 0 12px;
    padding-top: 20px;

    margin-top: -20px;
  }

  .navItem {
    margin-bottom: 12px;
    width: 60px;
  }

  .navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b7280;
    padding: 8px;
    border-radius: 6px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &.active {
      background-color: #8c8bdd;
      color: #fff;
    }

    svg {
      font-size: 24px;
      margin-right: 8px; // Adjust spacing between icon and text as needed
    }
  }
  .navLink p {
    padding-left: 10px;
  }

  .logOutIcon {
    font-size: 20px;
    color: #7384a2;
    font-weight: 700;
    margin-right: 5px;
  }
}
.wrapperSidebar {
  display: flex;
  .CategoryLinks {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    width: 200px;
  }
}
.setting {
  margin-top: 250px;
  margin-left: 10px;
}
