.categoryDetail {
  width: 100%;
  background-color: #e2edff;
  height: 100vh;
  margin-bottom: 100px;
}

.Allwrapper {
  margin-left: 20px;
  max-width: 1000px; /* Use max-width instead of width for responsiveness */
}

.wrapper {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.btn {
  margin-top: 20px;
  width: 70%;
  height: 40px;
  background-color: #0067f4;
  border-radius: 8px;
  color: white;
  border: none; /* Ensure no border for consistency */
}

.btn:hover {
  background-color: #0055cc; /* Change button color on hover for better feedback */
}
